.parrafos{
   
    text-align: center;
    background: url(imgcuatro/4.jpg);
    height:720px;
    width: 1280px;
}
h1{
    text-align: center;
   
    width: 1280px;
}
#imagen1{
    height:1220px;
    width: 1280px;
}