body{
    background: linear-gradient(white,black);
}
.ejercicios{
    padding: 50px;
    list-style-type: none;
    
}
.ejercicios li{
    display:inline-block;
    text-align: center;
    width: 45%;
    vertical-align: top;
    margin: 0  2.0%;
    width: 940 px;
    padding: 30px 15px;
    box-sizing: border-box;
    border-color: rgb(18, 16, 16);
    border-width: 2px;
    border-style: solid;
}
.ejercicios p{
    font-size: 20px;
    font-weight: bold;
}

.botones{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
    
    
}
.respuestaImagen{
    width: 100%;
    height: auto;
}


@media screen and (max-width:480px){
  .encabezado{
    width: auto;
  }
  .encabezado img{
    width: auto;
  }
    
   
      img{
        width: 100%; 
      }
    .botones .ejercicios{
        font-size: 30%;
      }
   .ejercicios li{  
        text-align: center;
        font-size: auto;
        width: auto;
    } 
    
    
}